.body {
  min-height: 75vh;
}


.cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.subHeader {
  color: white;
  background-color: black;
  font-size: large;
  font-weight: 500;
  padding: 1.5rem;
  text-transform: capitalize;
}

.contentVerticalCenter {
  display: flex;
  align-items: center;
}

.contentCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link {
  color: inherit;
  text-decoration: none;
}